*{
  padding: 0;
  margin: 0;
  font-family: "Protest Riot", sans-serif;
  font-size: 70px;
  color:aqua;
}

body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(93,0,47,0.9360119047619048) 50%, rgba(255,0,128,1) 100%);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 600px;
}

.game{
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo{
  text-align: center;
  
}
