* {margin: auto; padding: 0;}

body{
    background-color: #ffcccc;
}
/*HEADER*/
header { background-color: #ffcccc; }
header h1 { text-align: center; color: navy; font-size: 40px; padding: 30px;}
header p {text-align: center; padding: 30px;}
header a { text-align: center; color: peru; font-size: 20px; font-family: Arial; padding: 2px;}
header a:hover{background-color: #f68d8d; color: aqua;}
header img {position: absolute; left: 20px; top: 20px;}

/*BODY*/
section { background-color: #e2efd8; padding: 20px;}
section h2 {text-align: left; padding: 0.1em 1em; color: #663366; font-size: 2em; font-family: Georgia; padding: 30px;}
section p {  text-align: left; font-family: 'Times New Roman'; padding: 10px; margin-left: 15px; font-size: 25px;}
article {margin-left: 70px;}
article input{padding: auto; padding-right: 60px; font-size: 18px;}

article input:hover{ font-size: 25px;}

#marcadores div{ padding: 1px;   text-align: left;}
#marcadores input{ margin-right: 10px;}

#marcadores div:hover{ font-size: 20px; padding: 10px;}

button{
    margin: 40px;
    padding: 10px;
    font-size: 30px;
    background-color: wheat;
}

button:hover{
    padding: 20px;
    font-size: 50px;
    background-color: azure;
}

select{
    font-size: 15px;
    padding: 10px;
}

select:hover{
    font-size: 25px;
    padding: 15px;
}

#sexos div{
    padding: 1px;   text-align: left;
}
#sexos input{
    margin-right: 10px;
}

#sexos div:hover{ font-size: 20px; padding: 10px;}

/*FOOTER*/
footer { background-color: #ffcccc; }
footer p {text-align: center; padding: 60px;}
footer a { text-align: center; color: peru; font-size: 20px; font-family: Arial; padding: 2px;}
footer a:hover{background-color: #f68d8d; color: aqua;}